In [7]:
import sqlite3
import pandas as pd

# --- Connect to your DB
db_path = r"C:\Users\HP\Desktop\EduAi\db\edu_ai.db"
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [8]:
# --- Quick sanity check: list all tables
tables = pd.read_sql("SELECT * FROM sqlite_master WHERE type='table';", conn)
print("Tables in DB:")
print(tables)

Tables in DB:
    type              name          tbl_name  rootpage  \
0  table           schools           schools         2
1  table          teachers          teachers         8
2  table  curriculum_units  curriculum_units         4
3  table           lessons           lessons        10
4  table       assessments       assessments        14
5  table  teacher_progress  teacher_progress        12
6  table         audit_log         audit_log         6

                                                 sql
0  CREATE TABLE "schools" (\n"id" TEXT,\n  "name"...
1  CREATE TABLE "teachers" (\n"id" TEXT,\n  "name...
2  CREATE TABLE "curriculum_units" (\n"id" TEXT,\...
3  CREATE TABLE "lessons" (\n"id" TEXT,\n  "curri...
4  CREATE TABLE "assessments" (\n"id" TEXT,\n  "l...
5  CREATE TABLE "teacher_progress" (\n"id" TEXT,\...
6  CREATE TABLE "audit_log" (\n"id" TEXT,\n  "use...

In [10]:
# --- Example: view first 5 schools
df_schools = pd.read_sql("SELECT * FROM schools LIMIT 5;", conn)
print("\nSample Schools:")
print(df_schools)

Sample Schools:
                                     id                      name      region  \
0  2f6688d2-90cb-4c51-8ca5-2c221f2d925c  Patience Memorial School  South East
1  e8fbeea1-90c5-48e4-a5ec-9241750b6ebb   St. Balogun High School  North West
2  016b6406-73f7-4327-abef-ddd2a4def814  Ekwueme Secondary School  South West
3  5fc6a40e-d267-424b-899b-6b2d02f63eb7      Mary Memorial School  North East
4  8f3a120e-17f2-46d2-beb2-8b18d0baeb5c   Joseph Secondary School  South West

  device_type  connectivity
0     desktop       offline
1      tablet  intermittent
2     desktop  intermittent
3      tablet  intermittent
4      laptop  intermittent

In [11]:
sql_lessons = """
SELECT l.id AS lesson_id, c.subject, c.title AS curriculum_title, t.name AS teacher_name
FROM lessons l
JOIN curriculum_units c ON l.curriculum_unit_id = c.id
JOIN teachers t ON l.teacher_id = t.id
ORDER BY RANDOM()
LIMIT 5;
"""
df_lessons = pd.read_sql(sql_lessons, conn)
print("ðŸ“˜ Sample Lessons with Curriculum and Teacher:")
print(df_lessons, "\n")

ðŸ“˜ Sample Lessons with Curriculum and Teacher:
                              lesson_id      subject        curriculum_title  \
0  601656c9-f8bd-4413-943f-b76dd8e04827  Mathematics  Mathematics Curriculum
1  b66fd276-9363-4c34-9b28-bb15051f6b12   Government              Government
2  f6fa8857-6098-4cf6-a139-0a2dc23e7776        Hausa        Hausa Curriculum
3  c5d7afe6-34c8-4f84-951c-d781a89008fe  Mathematics  Mathematics Curriculum
4  35924f50-8702-4ffb-bcef-1e84b302675a   Economics               Economics

     teacher_name
0    Patience Ojo
1     Mary Chukwu
2  Joseph Ibrahim
3  Gabriel Okafor
4   Sarah Okonkwo