In [1]:
# --- Imports
import pandas as pd
import json
import random
from faker import Faker
from datetime import datetime, timedelta
import uuid
import os

# --- Initialize Faker with Nigerian locale
fake = Faker("en_NG")

# --- Ensure data folder exists
os.makedirs("../data", exist_ok=True)

# --- Helper
def gen_id():
    return str(uuid.uuid4())

In [2]:
schools = []
regions = ["Lagos", "Abuja", "Kano", "Port Harcourt", "Ibadan", "Enugu"]
device_types = ["tablet", "laptop", "desktop"]
connectivity = ["offline", "intermittent", "online"]

for _ in range(30):
    schools.append({
        "id": gen_id(),
        "name": f"{fake.last_name()} College",
        "region": random.choice(regions),
        "device_type": random.choice(device_types),
        "connectivity": random.choice(connectivity)
    })

df_schools = pd.DataFrame(schools)
df_schools.to_csv("../data/schools.csv", index=False)
df_schools.head()

,id,name,region,device_type,connectivity
0,f7e43711-27c7-4d70-be94-9447a62d0525,Akinwale College,Ibadan,desktop,online
1,a227c995-fae6-4571-9ad0-de9d89b5b461,Okafor College,Kano,tablet,online
2,74931cd6-6a22-424b-83a6-13c921ef2bcb,Okonkwo College,Enugu,laptop,intermittent
3,89056865-9b7e-4dee-9b76-a42aced62e82,Abiola College,Port Harcourt,desktop,offline
4,af91eb27-73ee-4cad-8399-ba4fb4fc920c,Abiola College,Abuja,laptop,intermittent

In [3]:
tech_levels = ["low", "medium", "high"]

teachers = []
for _ in range(39450):
    teachers.append({
        "id": gen_id(),
        "name": fake.name(),
        "email": fake.email(),
        "phone": fake.phone_number(),
        "school_id": random.choice(df_schools["id"]),
        "languages": json.dumps(random.sample(["English", "Yoruba", "Igbo", "Hausa"], k=random.randint(1, 3))),
        "tech_level": random.choice(tech_levels),
        "created_at": fake.date_time_this_year()
    })

df_teachers = pd.DataFrame(teachers)
df_teachers.to_csv("../data/teachers.csv", index=False)
df_teachers.head()

,id,name,email,phone,school_id,languages,tech_level,created_at
0,fa033faf-5cf9-472a-b75a-8d9358fb13bd,Joseph Balogun,abiolahope@example.com,(677)726-4441x59460,548f4551-e04b-454e-9956-ac423e4684e6,"[""Hausa"", ""English""]",high,2025-08-26 16:11:44
1,7956e48f-60e5-4304-bbda-130918bc3a64,Mary Okonkwo,markoyekan@example.net,601.374.8988x509,74931cd6-6a22-424b-83a6-13c921ef2bcb,"[""English"", ""Igbo""]",low,2025-08-31 02:43:56
2,f8135060-4448-4a25-8569-afc122d51947,Joseph Oyekan,ouche@example.com,813-307-0235x386,7c59bbc1-16c8-44e3-add2-d6d30882e6cd,"[""Yoruba"", ""English"", ""Hausa""]",medium,2025-07-20 03:49:32
3,135e8c47-4973-40c6-b8e8-93458e910baf,David Obi,samuelbalogun@example.org,450-841-9271x273,74931cd6-6a22-424b-83a6-13c921ef2bcb,"[""English""]",high,2025-06-26 15:18:09
4,61346741-6c3a-46a0-a178-d40bfee814fa,David Okafor,oyekanandrew@example.com,(409)369-2140x312,75d659a9-c881-4186-9cf6-6d8164147db8,"[""English""]",medium,2025-04-20 05:32:11